@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto',sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
    font-weight: 500;
    font-size: 24px;
}

h3 {
    font-weight: 400;
    font-size: 18.72px;
}

button {
  border-radius: 12px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-swiper {
  --swiper-navigation-color: #395E66;
  --swiper-navigation-size: 28px;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  font-size: 28px;
}
